In [449]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [451]:
df_8 = pd.read_excel("Отчет_по_месяцам_8А_2023_2024.xlsx", header=1)
df_9 = pd.read_excel("Отчет_по_месяцам_9А_2024_2025.xlsx", header=1)
df_8.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 244,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253
0,Отчет об успеваемости и посещаемости ученика,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Учебный год: 2023/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Класс: 8А,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Период: с 01.09.23 по 31.05.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Ученик 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Предмет,Сентябрь,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1,4,5,7,8,11,12,13.0,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Алгебра,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Биология,NaN,NaN,5,NaN,4,NaN,4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,География,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Геометрия,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Графический дизайн,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [453]:
def clean_df(df):
    words_to_exclude = ['Год', 'Класс', 'Период', 'год', 'Уважительная', 'Болезнь', 'Неуважительная', 'Опоздание']
    exclude_pattern = '|'.join(words_to_exclude)

    df_cleaned = df[~df.iloc[:, 0].str.contains(exclude_pattern, na=False)]
    df_cleaned = df_cleaned[~df_cleaned.iloc[:, 1].str.contains(exclude_pattern, na=False)]
    df_cleaned = df_cleaned.dropna(how='all')
    df_cleaned = df_cleaned.iloc[1:].reset_index(drop=True)

    return df_cleaned

In [455]:
def create_students_dict(df, rows_per_student):
    student_data = {}
    # Итерируемся по датасету с шагом в 'rows_per_student'
    for i in range(0, len(df), rows_per_student):
        student_df_full = df.iloc[i:i + rows_per_student].copy().reset_index(drop=True)

        # Получаем имя ученика из первой строки
        student_name = student_df_full.iloc[0, 0]  # Предполагаем, что имя ученика в первом столбце

        # Устанавливаем корректные заголовки
        header_subject = student_df_full.iloc[1].fillna('')
        header_date = student_df_full.iloc[2].fillna('')

        new_columns = []
        month = ''
        for j in range(len(header_subject)):
            if header_subject[j] and header_date[j]:
                new_columns.append(f"{header_subject[j]}")
                month = header_subject[j]
            elif header_subject[j]:
                new_columns.append(header_subject[j])
            else:
                str_to_append = f"{month}_{header_date[j]}"
                if str_to_append in new_columns:
                    new_columns.append(f"{month}_{header_date[j]}.1")
                else:
                    new_columns.append(f"{month}_{header_date[j]}")

        student_df_full.columns = new_columns
        student_df_processed = student_df_full.iloc[3:].reset_index(drop=True)
        student_df_processed.rename(columns={student_df_processed.columns[0]: 'Предмет'}, inplace=True)

        # Ищем индекс столбца "Средняя оценка"
        try:
            last_valid_column_index = student_df_processed.columns.get_loc('Средняя оценка') + 1
            # Выбираем все столбцы до "Средняя оценка" включительно
            cleaned_student_df = student_df_processed.iloc[:, :last_valid_column_index].copy()
            student_data[student_name] = cleaned_student_df
        except KeyError:
            print(f"В данных ученика '{student_name}' не найден столбец 'Средняя оценка'.")
            student_data[student_name] = student_df_processed.copy() # Сохраняем весь DataFrame, если столбец не найден

    return student_data

In [457]:
df_8_clean = clean_df(df_8.copy())
student_dict = create_students_dict(df_8_clean, 24)
stud1 = student_dict['Ученик 1']

In [461]:
df_9_clean = clean_df(df_9.copy())
student_dict_9 = create_students_dict(df_9_clean, 20)

In [407]:
def clean_grade(grade):
    if isinstance(grade, str):
        if '/' in grade:
            try:
                parts = grade.split('/')
                return np.mean([float(x) for x in parts])
            except ValueError:
                return np.nan
        elif grade.strip().lower() in ['у', 'б', 'н']:
            return grade.strip().lower()
    try:
        return float(grade)
    except (ValueError, TypeError):
        return np.nan

def analyze_single_student(student_df):
    metrics = {}
    months_russian = ['Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май']

    # Identify the starting column index for each month
    month_start_indices = {}
    for i, col in enumerate(student_df.columns):
        if col in months_russian:
            month_start_indices[col] = i

    # Define the column ranges for each month
    month_column_ranges = {}
    month_keys = list(month_start_indices.keys())
    for i in range(len(month_keys)):
        month = month_keys[i]
        start_index = month_start_indices[month]
        if i + 1 < len(month_keys):
            end_index = month_start_indices[month_keys[i + 1]]
        else:
            # For the last month, go up to the 'Средняя оценка' column
            if 'Средняя оценка' in student_df.columns:
                end_index = student_df.columns.get_loc('Средняя оценка')
            else:
                end_index = len(student_df.columns)
        month_column_ranges[month] = list(range(start_index, end_index))

    # Collect grades by month
    monthly_grades = {month: [] for month in months_russian}
    non_numeric_monthly = {month: [] for month in months_russian}

    for month, col_indices in month_column_ranges.items():
        month_grade_cols = [student_df.columns[i] for i in col_indices if i < len(student_df.columns)]
        for col in month_grade_cols:
            grades = student_df[col].apply(clean_grade).dropna()
            numeric_grades = pd.to_numeric(grades, errors='coerce').dropna()
            if not numeric_grades.empty:
                monthly_grades[month].extend(numeric_grades.tolist())
            non_numeric = grades[~pd.to_numeric(grades, errors='coerce').notna()]
            if not non_numeric.empty:
                non_numeric_monthly[month].extend(non_numeric.tolist())

    # Расчет среднего балла за месяц
    for month, grades in monthly_grades.items():
        if grades:
            metrics[f'Средний балл за {month}'] = np.mean(grades)
        else:
            metrics[f'Средний балл за {month}'] = np.nan

    # Расчет среднего балла за 3 месяца
    month_per_three = [['Сентябрь', 'Октябрь', 'Ноябрь'], ['Декабрь', 'Январь', 'Февраль'], ['Март', 'Апрель', 'Май']]
    for three_elem in month_per_three:
        m1, m2, m3 = three_elem
        avg1 = metrics.get(f'Средний балл за {m1}')
        avg2 = metrics.get(f'Средний балл за {m2}')
        avg3 = metrics.get(f'Средний балл за {m3}')
        valid_avgs = [avg for avg in [avg1, avg2, avg3] if pd.notna(avg)]
        if valid_avgs:
            metrics[f'Средний балл за 3 месяца ({m1}-{m2}-{m3})'] = np.mean(valid_avgs)
        else:
            metrics[f'Средний балл за 3 месяца ({m1}-{m2}-{m3})'] = np.nan

    # Оценки и статусы за весь год
    all_numeric_grades_year = get_grades_for_months(monthly_grades, months_russian)
    all_non_numeric_year = get_statuses_for_months(non_numeric_monthly, months_russian)

    year_grade_counts = calculate_grade_counts(all_numeric_grades_year)
    for key, value in year_grade_counts.items():
        metrics[f'Общее {key} за год'] = value

    year_status_counts = calculate_status_counts(all_non_numeric_year)
    for key, value in year_status_counts.items():
        metrics[f'Общее {key} за год'] = value

     # Оценки и статусы за полугодия
    first_half_months = ['Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
    second_half_months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май']

    # 1 полугодие
    grades_1_half = get_grades_for_months(monthly_grades, first_half_months)
    statuses_1_half = get_statuses_for_months(non_numeric_monthly, first_half_months)

    grade_counts_1_half = calculate_grade_counts(grades_1_half)
    for key, value in grade_counts_1_half.items():
        metrics[f'Общее {key} за 1 полугодие'] = value
        if len(student_df) > 0:
            metrics[f'Среднее {key} за 1 полугодие (на предмет)'] = value / len(student_df)
        else:
            metrics[f'Среднее {key} за 1 полугодие (на предмет)'] = 0

    status_counts_1_half = calculate_status_counts(statuses_1_half)
    for key, value in status_counts_1_half.items():
        metrics[f'Общее {key} за 1 полугодие'] = value
        if len(student_df) > 0:
            metrics[f'Среднее {key} за 1 полугодие (на предмет)'] = value / len(student_df)
        else:
            metrics[f'Среднее {key} за 1 полугодие (на предмет)'] = 0

    # 2 полугодие
    grades_2_half = get_grades_for_months(monthly_grades, second_half_months)
    statuses_2_half = get_statuses_for_months(non_numeric_monthly, second_half_months)

    grade_counts_2_half = calculate_grade_counts(grades_2_half)
    for key, value in grade_counts_2_half.items():
        metrics[f'Общее {key} за 2 полугодие'] = value
        if len(student_df) > 0:
            metrics[f'Среднее {key} за 2 полугодие (на предмет)'] = value / len(student_df)
        else:
            metrics[f'Среднее {key} за 2 полугодие (на предмет)'] = 0

    status_counts_2_half = calculate_status_counts(statuses_2_half)
    for key, value in status_counts_2_half.items():
        metrics[f'Общее {key} за 2 полугодие'] = value
        if len(student_df) > 0:
            metrics[f'Среднее {key} за 2 полугодие (на предмет)'] = value / len(student_df)
        else:
            metrics[f'Среднее {key} за 2 полугодие (на предмет)'] = 0

    # Расчет среднего количества 5, 4, 3, 2, У, Б, Н в месяц
    num_months_with_grades = len([month for month in months_russian if month in monthly_grades and monthly_grades[month]])
    if num_months_with_grades > 0:
        for grade_value in [5.0, 4.0, 3.0, 2.0]:
            total_count = all_numeric_grades_year.count(grade_value)
            metrics[f'Среднее кол-во {int(grade_value)} в месяц'] = total_count / num_months_with_grades
    else:
        for grade_value in [5.0, 4.0, 3.0, 2.0]:
            metrics[f'Среднее кол-во {int(grade_value)} в месяц'] = np.nan

    num_months_with_status = len([month for month in months_russian if month in non_numeric_monthly and non_numeric_monthly[month]])
    if num_months_with_status > 0:
        for status in ['у', 'б', 'н']:
            total_count = all_non_numeric_year.count(status)
            metrics[f'Среднее кол-во {status.upper()} в месяц'] = total_count / num_months_with_status
    else:
        for status in ['у', 'б', 'н']:
            metrics[f'Среднее кол-во {status.upper()} в месяц'] = np.nan

    # Определение "Успешный" (нет троек за год)
    all_grades_numeric = []
    for month in monthly_grades:
        all_grades_numeric.extend([g for g in monthly_grades[month] if pd.notna(g)])

    if 3.0 in all_grades_numeric:
        metrics['Успешный(нет троек за год)'] = 'Нет'
    else:
        metrics['Успешный(нет троек за год)'] = 'Да'

    return metrics

# Предполагается, что у тебя уже есть функция create_students_dict,
# которая создает словарь student_dict

# Пример использования:
# metrics_stud1 = analyze_single_student(stud1)
# print(metrics_stud1)

# Чтобы применить ко всем ученикам:
# all_students_metrics = []
# for student_name, student_df in student_dict.items():
#     metrics = analyze_single_student(student_df)
#     metrics['Ученик'] = student_name
#     all_students_metrics.append(metrics)

# final_metrics_df = pd.DataFrame(all_students_metrics)
# final_metrics_df

In [467]:
class StudentAnalyzer:
    def __init__(self, student_df):
        self.student_df = student_df
        self.months = ['Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май']
        self.monthly_grades = {month: [] for month in self.months}
        self.non_numeric_monthly = {month: [] for month in self.months}
        self.metrics = {}
        self._extract_month_data()

    @staticmethod
    def clean_grade(grade):
        if isinstance(grade, str):
            if '/' in grade:
                try:
                    return np.mean([float(x) for x in grade.split('/')])
                except ValueError:
                    return np.nan
            elif grade.strip().lower() in ['у', 'б', 'н']:
                return grade.strip().lower()
        try:
            return float(grade)
        except (ValueError, TypeError):
            return np.nan

    @staticmethod
    def calculate_grade_counts(grades_list):
        return {f'кол-во {int(g)}': grades_list.count(g) for g in [5.0, 4.0, 3.0, 2.0]}

    @staticmethod
    def calculate_status_counts(statuses_list):
        return {f'кол-во {s.upper()}': statuses_list.count(s) for s in ['у', 'б', 'н']}

    def _extract_month_data(self):
        month_start_indices = {col: i for i, col in enumerate(self.student_df.columns) if col in self.months}
        month_keys = list(month_start_indices.keys())

        month_column_ranges = {}
        for i, month in enumerate(month_keys):
            start = month_start_indices[month]
            if i + 1 < len(month_keys):
                end = month_start_indices[month_keys[i + 1]]
            elif 'Средняя оценка' in self.student_df.columns:
                end = self.student_df.columns.get_loc('Средняя оценка')
            else:
                end = len(self.student_df.columns)
            month_column_ranges[month] = list(range(start, end))

        for month, indices in month_column_ranges.items():
            for col in [self.student_df.columns[i] for i in indices]:
                cleaned = self.student_df[col].apply(self.clean_grade).dropna()
                numeric = pd.to_numeric(cleaned, errors='coerce').dropna()
                if not numeric.empty:
                    self.monthly_grades[month].extend(numeric.tolist())
                non_numeric = cleaned[~pd.to_numeric(cleaned, errors='coerce').notna()]
                if not non_numeric.empty:
                    self.non_numeric_monthly[month].extend(non_numeric.tolist())

    def analyze(self):
        self._calculate_monthly_averages()
        self._calculate_three_month_averages()
        self._calculate_year_and_semesters_stats()
        self._calculate_monthly_averages_counts()
        self._determine_success()
        return self.metrics

    def _calculate_monthly_averages(self):
        for month in self.months:
            grades = self.monthly_grades[month]
            self.metrics[f'Средний балл за {month}'] = np.mean(grades) if grades else np.nan

    def _calculate_three_month_averages(self):
        blocks = [['Сентябрь', 'Октябрь', 'Ноябрь'], ['Декабрь', 'Январь', 'Февраль'], ['Март', 'Апрель', 'Май']]
        for block in blocks:
            avgs = [self.metrics[f'Средний балл за {m}'] for m in block if pd.notna(self.metrics[f'Средний балл за {m}'])]
            self.metrics[f'Средний балл за 3 месяца ({block[0]}-{block[1]}-{block[2]})'] = np.mean(avgs) if avgs else np.nan

    def _calculate_year_and_semesters_stats(self):
        all_grades = self._get_combined_grades(self.months)
        all_statuses = self._get_combined_statuses(self.months)

        for key, val in self.calculate_grade_counts(all_grades).items():
            self.metrics[f'Общее {key} за год'] = val
        for key, val in self.calculate_status_counts(all_statuses).items():
            self.metrics[f'Общее {key} за год'] = val

        self._semester_stats('1 полугодие', ['Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'])
        self._semester_stats('2 полугодие', ['Январь', 'Февраль', 'Март', 'Апрель', 'Май'])

    def _semester_stats(self, label, months):
        grades = self._get_combined_grades(months)
        statuses = self._get_combined_statuses(months)
        row_count = len(self.student_df)

        for key, val in self.calculate_grade_counts(grades).items():
            self.metrics[f'Общее {key} за {label}'] = val
            self.metrics[f'Среднее {key} за {label} (на предмет)'] = val / row_count if row_count > 0 else 0
        for key, val in self.calculate_status_counts(statuses).items():
            self.metrics[f'Общее {key} за {label}'] = val
            self.metrics[f'Среднее {key} за {label} (на предмет)'] = val / row_count if row_count > 0 else 0

    def _calculate_monthly_averages_counts(self):
        valid_months_grades = [m for m in self.months if self.monthly_grades[m]]
        valid_months_statuses = [m for m in self.months if self.non_numeric_monthly[m]]

        for grade in [5.0, 4.0, 3.0, 2.0]:
            total = sum([self.monthly_grades[m].count(grade) for m in valid_months_grades])
            self.metrics[f'Среднее кол-во {int(grade)} в месяц'] = total / len(valid_months_grades) if valid_months_grades else np.nan

        for status in ['у', 'б', 'н']:
            total = sum([self.non_numeric_monthly[m].count(status) for m in valid_months_statuses])
            self.metrics[f'Среднее кол-во {status.upper()} в месяц'] = total / len(valid_months_statuses) if valid_months_statuses else np.nan

    def _determine_success(self):
        """
        Успешный студент — если по каждому предмету (строке) средний балл >= 3.5
        """
        all_columns = []
        for month in self.months:
            all_columns.extend([col for col in self.student_df.columns if col.startswith(month)])
        
        for _, row in self.student_df.iterrows():
            grades = []
            for col in all_columns:
                if col in row:
                    val = clean_grade(row[col])
                    if isinstance(val, float) and pd.notna(val):
                        grades.append(val)
            if grades:
                avg = np.mean(grades)
                if avg < 3.5:
                    self.metrics['Успешный (нет предмета со ср. баллом < 3.5)'] = False
                    return
        self.metrics['Успешный (нет предмета со ср. баллом < 3.5)'] = True

    def _get_combined_grades(self, months):
        grades = []
        for m in months:
            grades.extend(self.monthly_grades[m])
        return [g for g in grades if pd.notna(g)]

    def _get_combined_statuses(self, months):
        statuses = []
        for m in months:
            statuses.extend(self.non_numeric_monthly[m])
        return statuses

In [473]:
# Предполагается, что у тебя уже есть функция create_students_dict,
# которая создает словарь student_dict

# Пример использования:
# metrics_stud1 = analyze_single_student(stud1)
# print(metrics_stud1)

# Чтобы применить ко всем ученикам:
all_students_metrics = []
for student_name, student_df in student_dict.items():
    analyzer = StudentAnalyzer(student_df)
    metrics = analyzer.analyze()
    metrics['Ученик'] = student_name
    all_students_metrics.append(metrics)

final_metrics_df_8 = pd.DataFrame(all_students_metrics)

column_list = final_metrics_df_8.columns.tolist()
last_column = column_list[-1]
other_columns = column_list[:-1]
new_column_order = [last_column] + other_columns

final_metrics_df_8 = final_metrics_df_8[new_column_order]
final_metrics_df_8

,Ученик,Средний балл за Сентябрь,Средний балл за Октябрь,Средний балл за Ноябрь,Средний балл за Декабрь,Средний балл за Январь,Средний балл за Февраль,Средний балл за Март,Средний балл за Апрель,Средний балл за Май,...,Общее кол-во Н за 2 полугодие,Среднее кол-во Н за 2 полугодие (на предмет),Среднее кол-во 5 в месяц,Среднее кол-во 4 в месяц,Среднее кол-во 3 в месяц,Среднее кол-во 2 в месяц,Среднее кол-во У в месяц,Среднее кол-во Б в месяц,Среднее кол-во Н в месяц,Успешный (нет предмета со ср. баллом < 3.5)
0,Ученик 1,3.807018,3.600000,3.852941,3.666667,3.902439,3.839286,3.800000,3.830000,3.860000,...,21,1.000000,10.444444,12.111111,14.333333,2.000000,2.111111,20.333333,2.555556,False
1,Ученик 2,3.382979,3.212121,3.483871,3.316667,3.342857,3.300000,3.150000,3.261905,3.304878,...,25,1.190476,4.222222,6.555556,22.333333,4.000000,4.888889,13.777778,2.888889,False
2,Ученик выбывший,3.342105,3.378049,3.289474,3.370968,3.294118,3.531250,3.711538,3.387097,3.000000,...,25,1.190476,3.888889,6.777778,11.555556,4.111111,37.875000,7.750000,3.125000,False
3,Ученик 3,2.965517,2.972222,3.085366,3.166667,3.150000,3.048077,3.089744,3.108696,3.317073,...,8,0.380952,4.111111,5.555556,26.444444,10.000000,3.250000,7.250000,1.125000,False
4,Ученица 4,3.842593,3.702703,3.646341,3.576923,3.566667,3.518182,3.750000,3.525000,4.015152,...,8,0.380952,10.111111,11.111111,16.555556,3.555556,11.500000,3.375000,1.000000,False
5,Ученик 5,3.298246,3.076923,3.160377,3.350000,3.222222,3.163636,3.104167,3.238806,3.400000,...,12,0.571429,4.222222,7.666667,23.333333,6.888889,11.500000,8.125000,1.500000,False
6,Ученица 6,4.068966,4.093023,4.088235,4.056818,4.076923,3.845455,3.926471,3.913043,3.934211,...,4,0.190476,15.333333,16.000000,10.666667,2.333333,3.600000,5.600000,0.800000,False
7,Ученик 7,3.354839,3.170732,3.560000,3.548387,3.512195,3.486111,3.103448,3.562500,3.569444,...,11,0.523810,6.444444,9.000000,20.111111,4.555556,5.875000,9.125000,1.500000,False
8,Ученица 8,3.818182,3.686047,3.750000,3.642857,3.650000,3.310811,3.446429,3.600000,3.533333,...,43,2.047619,6.555556,9.666667,13.000000,3.111111,14.888889,14.444444,6.888889,False
9,Ученик 9,3.862069,3.701923,3.974576,3.914286,3.731707,3.754545,3.656250,4.078125,4.305556,...,2,0.095238,16.333333,13.666667,13.111111,4.111111,11.142857,0.000000,0.285714,False
10,Ученица 10,4.186441,3.611111,4.141304,4.177419,3.939394,4.117021,3.779412,4.238095,4.340909,...,14,0.666667,14.777778,12.444444,9.333333,1.333333,20.500000,3.875000,1.750000,False
11,Ученица 11,3.380952,3.025641,3.425926,3.312500,3.384615,3.386792,3.062500,3.437500,3.500000,...,5,0.238095,7.333333,7.555556,22.555556,6.777778,5.000000,4.000000,1.166667,False
12,Ученик 12,3.447368,3.434783,3.564815,3.757143,3.414634,3.428571,3.413793,3.638889,3.969697,...,5,0.238095,8.888889,10.555556,18.111111,4.777778,6.875000,3.750000,0.750000,False
13,Ученица 13,3.937500,3.689189,3.784091,4.293103,3.775000,3.826531,3.546875,3.754717,3.625000,...,15,0.714286,12.222222,12.888889,13.111111,3.555556,9.125000,7.875000,1.875000,False
14,Ученица 14,3.982456,3.880952,4.196429,4.263158,4.150000,3.918919,3.887097,4.076923,3.640625,...,18,0.857143,13.333333,14.111111,9.777778,1.666667,3.444444,15.000000,2.111111,False
15,Ученик 15,3.491525,3.666667,3.594595,3.821429,3.410256,3.490000,3.375000,3.682692,3.680556,...,23,1.095238,7.222222,11.666667,16.333333,3.666667,18.888889,0.111111,2.555556,False
16,Ученица 16,3.959184,3.793478,3.855556,3.932432,4.000000,3.855263,3.734375,3.625000,3.951613,...,8,0.380952,11.222222,10.888889,12.333333,2.333333,13.166667,13.333333,1.333333,False
17,Ученик 17,3.543860,3.160377,3.424528,3.446429,3.361702,3.273810,3.324324,3.441176,3.763158,...,9,0.428571,7.555556,10.444444,21.666667,6.666667,14.000000,0.000000,1.500000,False
18,Ученик 18,3.218750,3.132353,3.325000,3.250000,3.114286,3.127660,3.083333,3.355769,3.014286,...,36,1.714286,4.222222,6.222222,20.111111,7.666667,10.777778,7.000000,4.333333,False
19,Ученик 19,3.515625,3.342593,3.403846,3.790323,3.694444,3.276596,3.162500,3.466102,3.500000,...,14,0.666667,7.333333,11.222222,19.666667,6.333333,13.625000,0.000000,1.750000,False
20,Ученик 20,3.292683,3.130435,3.060976,3.150000,3.282051,3.145161,2.939394,3.090909,3.293103,...,17,0.809524,3.222222,5.111111,19.333333,6.555556,8.000000,25.000000,2.111111,False
21,Ученица 21,4.056604,3.805556,3.900000,3.913043,4.026316,3.836957,3.516667,3.939394,4.303030,...,7,0.333333,15.555556,9.333333,11.444444,3.333333,17.625000,1.625000,0.875000,False
22,Ученица 22,4.301887,4.100000,4.368421,4.488372,4.638889,4.375000,4.432432,4.540541,4.638889,...,8,0.380952,19.111111,13.222222,3.444444,0.333333,15.444444,12.555556,1.222222,True
23,Ученица 23,4.036364,3.814286,3.872727,4.107143,3.820513,3.785714,3.318182,4.087302,4.176471,...,13,0.619048,14.222222,12.000000,11.888889,2.666667,12.000000,7.428571,1.857143,False
24,Ученица 24,3.567568,3.475000,3.583333,3.548387,3.555556,3.861702,4.083333,3.709091,3.930556,...,18,0.857143,9.555556,10.555556,14.555556,3.777778,6.666667,5.555556,2.111111,False
25,Ученица 25,3.666667,3.625000,3.750000,4.166667,4.120000,3.824324,3.642857,3.750000,4.115385,...,12,0.571429,8.000000,11.000000,9.444444,2.000000,10.000000,32.000000,1.444444,False

In [475]:
final_metrics_df_8.to_csv('8A_для_кластеризации.csv',index=False, encoding="utf-8-sig")

In [477]:
all_students_metrics = []
for student_name, student_df in student_dict_9.items():
    analyzer = StudentAnalyzer(student_df)
    metrics = analyzer.analyze()
    metrics['Ученик'] = student_name
    all_students_metrics.append(metrics)

final_metrics_df_9 = pd.DataFrame(all_students_metrics)

column_list = final_metrics_df_9.columns.tolist()
last_column = column_list[-1]
other_columns = column_list[:-1]
new_column_order = [last_column] + other_columns

final_metrics_df_9 = final_metrics_df_9[new_column_order]
final_metrics_df_9

,Ученик,Средний балл за Сентябрь,Средний балл за Октябрь,Средний балл за Ноябрь,Средний балл за Декабрь,Средний балл за Январь,Средний балл за Февраль,Средний балл за Март,Средний балл за Апрель,Средний балл за Май,...,Общее кол-во Н за 2 полугодие,Среднее кол-во Н за 2 полугодие (на предмет),Среднее кол-во 5 в месяц,Среднее кол-во 4 в месяц,Среднее кол-во 3 в месяц,Среднее кол-во 2 в месяц,Среднее кол-во У в месяц,Среднее кол-во Б в месяц,Среднее кол-во Н в месяц,Успешный (нет предмета со ср. баллом < 3.5)
0,Ученик 1,3.734694,3.434211,3.283784,3.573529,3.586207,3.527778,3.921053,3.607143,NaN,...,0,0.000000,5.250,9.125,11.125,3.500,10.625000,19.125000,0.375000,False
1,Ученик 2,3.153846,3.187500,3.049020,3.000000,3.052632,3.148148,3.397059,2.894737,NaN,...,0,0.000000,2.375,5.500,17.750,6.750,8.125000,25.000000,1.375000,False
2,Ученик 3,2.956140,2.953704,3.033333,3.062500,2.892857,3.009804,3.069444,2.704545,NaN,...,0,0.000000,3.250,5.125,22.375,13.375,5.666667,0.333333,0.000000,False
3,Ученица 4,3.819149,3.862745,3.829787,3.731707,3.628571,3.625000,3.290323,2.833333,NaN,...,0,0.000000,7.625,14.000,10.250,4.625,15.200000,0.400000,0.000000,False
4,Ученик 5,3.317073,3.201923,3.050847,3.229167,2.906977,3.009434,3.125000,2.833333,NaN,...,0,0.000000,3.250,7.375,21.875,9.375,2.000000,5.500000,2.500000,False
5,Ученица 6,4.428571,4.447917,4.076271,4.204545,4.345238,3.989130,3.878378,4.090909,NaN,...,0,0.000000,18.750,15.875,6.750,1.500,0.333333,0.000000,0.666667,True
6,Ученик 7,3.725490,3.574074,3.542553,3.731707,3.661290,3.397436,3.562500,3.575000,NaN,...,0,0.000000,6.250,14.250,13.750,3.875,5.400000,0.000000,0.200000,False
7,Ученица 8,3.702381,3.485714,3.630952,3.551724,3.560976,3.500000,3.870370,3.178571,NaN,...,0,0.000000,7.125,8.625,10.625,4.625,12.500000,13.625000,5.625000,False
8,Ученик 9,4.196429,4.076923,3.930000,4.093750,4.292683,4.011628,4.226190,3.675000,NaN,...,1,0.058824,19.250,12.625,7.750,3.500,15.333333,1.000000,0.333333,False
9,Ученица 10,4.063830,4.127660,4.117647,4.021739,3.822581,4.119048,3.472222,3.692308,NaN,...,0,0.000000,11.500,12.875,7.125,2.125,15.750000,5.125000,0.250000,False
10,Ученица 11,3.196078,3.562500,3.289474,3.639535,3.132353,3.242857,2.800000,3.055556,NaN,...,0,0.000000,4.125,9.750,14.125,7.625,9.250000,0.000000,0.000000,False
11,Ученик 12,3.764706,3.518868,3.590164,3.489583,3.890244,3.378378,3.554054,3.217391,NaN,...,0,0.000000,8.500,11.750,14.875,5.625,7.000000,9.500000,8.000000,False
12,Ученица 13,4.240000,4.108696,4.095745,4.000000,3.371795,3.619565,3.678571,3.857143,NaN,...,0,0.000000,13.625,12.875,7.750,4.750,11.333333,0.166667,1.833333,False
13,Ученица 14,4.072727,4.145833,3.910714,4.035714,3.650000,3.702381,3.797297,3.650000,NaN,...,0,0.000000,12.625,17.125,7.625,4.250,8.857143,0.142857,0.285714,False
14,Ученик 15,3.621951,3.736842,3.436170,3.690476,3.317073,3.328571,3.625000,3.416667,NaN,...,0,0.000000,6.000,11.625,12.125,5.500,17.142857,3.428571,1.285714,False
15,Ученица 16,4.072917,4.060000,3.788462,4.022222,4.130435,3.812500,3.671875,3.826087,NaN,...,0,0.000000,12.500,13.750,8.625,3.125,6.800000,0.000000,0.400000,False
16,Ученик 17,3.457627,3.635417,3.419643,3.444444,3.154762,3.269231,3.530303,3.333333,NaN,...,0,0.000000,6.625,10.625,20.000,6.000,2.750000,0.000000,1.250000,False
17,Ученик 18,3.339623,3.192308,3.342105,3.340426,2.971429,3.062500,3.111111,2.800000,NaN,...,2,0.117647,3.625,8.125,14.250,8.500,9.500000,10.625000,1.250000,False
18,Ученик 19,3.806818,4.000000,4.057692,4.244898,3.875000,3.722222,3.571429,3.690476,NaN,...,0,0.000000,12.375,12.500,9.000,3.125,6.000000,0.000000,0.500000,False
19,Ученик 20,3.290698,3.157895,3.148649,3.305556,2.964286,3.060000,3.062500,2.461538,NaN,...,0,0.000000,2.375,6.125,13.875,7.625,12.375000,12.000000,1.125000,False
20,Ученица 21,4.166667,3.783784,3.952381,4.047619,4.288462,3.907407,4.045455,3.411765,NaN,...,0,0.000000,10.875,11.000,6.500,2.500,9.250000,9.125000,2.500000,False
21,Ученица 22,4.416667,4.541667,4.267442,4.519608,4.714286,4.482759,4.068182,3.958333,NaN,...,0,0.000000,19.125,10.625,3.375,0.375,12.285714,4.000000,2.142857,True
22,Ученица 23,4.090909,4.047619,4.132653,3.785714,3.571429,3.695122,3.468750,3.105263,NaN,...,0,0.000000,11.625,13.875,10.625,4.125,3.400000,2.600000,0.600000,False
23,Ученица 24,3.778846,4.294118,4.109091,4.102564,3.838710,3.670732,3.965517,3.250000,NaN,...,0,0.000000,13.250,11.500,8.750,3.875,1.600000,6.200000,1.600000,False
24,Ученица 25,4.153846,4.170213,3.967742,4.175000,4.074074,3.924242,4.092593,4.000000,NaN,...,0,0.000000,11.750,11.875,5.875,1.375,13.375000,3.250000,2.125000,False

In [479]:
final_metrics_df_9.to_csv('9A_для_кластеризации.csv',index=False, encoding="utf-8-sig")