In [1]:
import pandas as pd

In [13]:
class_10_1_df = pd.read_excel('10кл_Средний_балл_1_полугодие_2023_2024.xlsx', header=1)
class_10_1_df.head()

,№ п/п,Все предметы,Алгебра и начала математического анализа,Биология,Вероятность и статистика,География,Геометрия,Индивидуальный проект,Иностранный язык (Английский язык),Информатика,...,Основы безопасности жизнедеятельности,Практикум по обществознанию,Разговоры о важном (ВД),Россия - мои горизонты (ВД),Русский язык,Современная литература,Физика,Физическая культура,Финансовая грамотность,Химия
0,Ученик 1,4.38,3.67,3.86,4.00,4.60,3.71,NaN,4.88,NaN,...,5.0,5,NaN,NaN,4.17,5,4.25,4.53,NaN,4.17
1,Ученица 2,4.94,4.90,5.00,5.00,5.00,5.00,NaN,5.00,NaN,...,5.0,5,NaN,NaN,5.00,5,4.83,4.53,NaN,5.00
2,Ученица 3,4.23,3.47,4.00,4.33,4.86,3.29,NaN,4.23,NaN,...,4.8,5,NaN,NaN,3.67,5,3.43,4.37,NaN,4.25
3,Ученик 4,4.71,4.50,4.20,4.67,4.60,4.43,NaN,4.56,NaN,...,5.0,5,NaN,NaN,4.70,5,4.75,4.83,NaN,5.00
4,Ученица 5,4.38,3.72,4.56,4.00,5.00,3.12,NaN,4.09,NaN,...,5.0,5,NaN,NaN,4.64,5,4.14,4.20,NaN,4.43

In [15]:
class_10_2_df = pd.read_excel('10кл_Средний_балл_2_полугодие_2023_2024.xlsx', header=1)
class_10_2_df.head()

,№ п/п,Все предметы,Алгебра и начала математического анализа,Биология,Вероятность и статистика,География,Геометрия,Индивидуальный проект,Иностранный язык (Английский язык),Информатика,...,Основы безопасности жизнедеятельности,Практикум по обществознанию,Разговоры о важном (ВД),Россия - мои горизонты (ВД),Русский язык,Современная литература,Физика,Физическая культура,Финансовая грамотность,Химия
0,Ученик 1,4.38,3.88,4.11,4.57,4.67,3.25,NaN,4.83,NaN,...,5.00,5,NaN,NaN,4.00,5.00,4.14,4.41,NaN,4.38
1,Ученица 2,4.97,4.88,5.00,5.00,5.00,5.00,NaN,5.00,NaN,...,5.00,5,NaN,NaN,5.00,5.00,5.00,4.64,NaN,5.00
2,Ученица 3,4.23,3.71,4.33,4.57,4.25,3.12,NaN,4.00,NaN,...,4.67,5,NaN,NaN,3.87,4.75,3.57,4.47,NaN,4.57
3,Ученик 4,4.74,4.59,4.75,4.86,4.67,4.57,NaN,4.73,NaN,...,4.67,5,NaN,NaN,4.71,5.00,4.71,4.93,NaN,4.62
4,Ученица 5,4.38,3.50,3.89,4.57,4.67,3.11,NaN,4.25,NaN,...,5.00,5,NaN,NaN,4.31,5.00,4.00,4.53,NaN,4.56

In [23]:
summary_df = pd.read_csv('grades.csv')
summary_df.head()

,ID,Класс,Период,Алг и матанализ,Биол.,Вер и Стат,Геогр.,Геом.,Англ.яз,Инф.,...,Обществ.,ОБиЗР,Практ. по матем.,Практ. по обществ.,Рус.яз.,Совр. литерат,Физика,Физ-ра,Фин.гр.,Химия
0,1,10.0,1 Полугодие,4.0,4.0,4.0,5.0,4.0,5.0,NaN,...,4.0,5.0,NaN,5.0,4.0,5.0,4.0,5.0,NaN,4.0
1,1,10.0,2 Полугодие,4.0,4.0,5.0,5.0,3.0,5.0,NaN,...,4.0,5.0,NaN,5.0,4.0,5.0,4.0,4.0,NaN,4.0
2,1,10.0,Год,4.0,4.0,5.0,5.0,4.0,5.0,NaN,...,4.0,5.0,NaN,5.0,4.0,5.0,4.0,5.0,NaN,4.0
3,1,11.0,1 Полугодие,4.0,4.0,4.0,5.0,4.0,5.0,5.0,...,5.0,5.0,NaN,NaN,4.0,5.0,4.0,5.0,NaN,5.0
4,1,11.0,2 Полугодие,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN